/*..css style of button component*/

:root{
    --primary:border 6px solid #fff ;
    --secondary: #fff;
    --white: #fff;
    --black: #000000;
    --background: #411616;
    --transparent: transparent;
}

.btn {
    font-family: Signika;
    padding: 8px 10px;
    cursor: pointer;
    font-weight:lighter;
}

.btn:hover{
    padding: 8px 10px;
    transition: all 0.3s ease-out;
    border-color: gray;
    opacity: 0.5;
    transition: 250ms;
    transform: translateY(-3px);
}

.btn--primary--outline:hover{
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    border-color: gray;
    opacity: 0.5;
    transition: 250ms;
    transform: translateY(-3px);
}



/* button colours and styles*/

.btn--primary--outline{
    background: var(--transparent);
    color: var(--white);
    border: 5px solid var(--white);
    margin: 20px;
    display: flex;
    justify-content: center;
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 15%;
    flex-wrap: wrap;
}

.btn--secondary--solid{
    background: var(--black);
    color: var(--white);
    border: 3px solid var(--secondary);
    /*margin: 20px;
    margin-left: 70%;
    margin-top: -10%;*/
}

.btn--large{
    padding: 8px 20px;
    font-size: 30px;

}

.btn--small{
    padding: 8px 10px;
    font-size: 18px;
}

/*media screen responsive large tablet */

@media only screen and (max-width: 933px){

    .btn--primary--outline{
        background: var(--transparent);
        color: var(--white);
        border: 5px solid var(--white);
        margin: 20px;
        display: flex;
        justify-content: center;
        display: inline-flex;
        justify-content: space-evenly;
        margin-top: 250px;
        flex-wrap: wrap;
    }

    .btn--secondary--solid{
        background: var(--black);
        color: var(--white);
        border: 3px solid var(--secondary);
        
    }
  
    
}

/*media screen responsive small tablet */

@media only screen and (max-width: 709px) {
    .btn--primary--outline{
    
        margin-top: 35%;
        flex-wrap: wrap;
    }
}

/*media screen responsive small tablet */

@media only screen and (max-width: 661px) {
    .btn--primary--outline{
    
        margin-top: 35%;
        margin-right: 33%;
        flex-wrap: wrap;
    }
}

/*media screen responsive small tablet */

@media only screen and (max-width: 639px) {
    .btn--primary--outline{
    
        margin-top: 35%;
        margin-right: 28%;
        flex-wrap: wrap;
    }
}

/*media screen responsive large mobile */

@media only screen and (max-width: 433px) {
    .btn--primary--outline{
    
        margin-top: 50%;
        margin-right: 28%;
        flex-wrap: wrap;
    }
}

/*media screen responsive small mobile */

@media only screen and (max-width: 351px) {
    .btn--primary--outline{
    
        margin-top: -75%;
        margin-right: 18%;
        flex-wrap: wrap;
    }

    
}


