/*Css style of pop up screen of popup component..*/

.popup-box{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.box{
    position: relative;
    width: 90%;
    height:auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    overflow:hidden;
    color: #fff;
    z-index: 200;

}

.btn-close{   /*style the X button which close the pop up */
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid gray;
    background-color: gray;
    border-radius:50%;
    position: relative;
    display: flex;
    margin: 20px;
    position: fixed;

} 

.btn-close:hover{
    opacity: 0.7;
    transition: all 0.3s ease-out;
    transition: 250ms;
    transform: translateY(-3px);
}

/*media screen responsive for large laptop screen */
@media only screen and (max-width:1573px) {
    
.box {
    width: 100vw;
    height:auto;
    margin: 5px;
    padding: 5px;
}

}

/*media screen responsive for large tablet screen */
@media only screen and (max-width:935px) {

    .btn-close{   /*style the X button which close the pop up */
        cursor: pointer;
        font-weight: bold;
        font-size: 30px;
        border: 1px solid gray;
        background-color: gray;
        border-radius:50%;
        position: relative;
        display: flex;
        margin: 20px;
        margin-top: 100px;
        position: fixed;
        z-index: 2;
    
    } 
    
    .box .protoT{
        width:800px;
        height:auto;
        margin: 5px;
        padding: 5px;
    }
}

/*media screen responsive for mediun tablet screen */

@media only screen and (max-width:820px) {
    
    .box .protoT{
        width:700px;
        height:auto;
        margin: 5px;
        padding: 5px;
    }
}

/*media screen responsive for small tablet screen */

@media only screen and (max-width:733px) {
    
    .box .protoT{
        width:600px;
        height:auto;
        margin: 5px;
        padding: 5px;
    }
}

/*media screen responsive for small tablet screen */

@media only screen and (max-width:637px) {
    
    .box .protoT{
        width:500px;
        height:auto;
        margin: 5px;
        padding: 5px;
    }
}

/*media screen responsive for large mobile screen */

@media only screen and (max-width:527px) {
    
    .box .protoT{
        width:400px;
        height:auto;
        margin: 5px;
        padding: 5px;
    }
}

/*media screen responsive for large and small mobile screen */

@media only screen and (max-width:447px) {
    
    .box  .Img{
        width:300px;
        height:auto;
        margin: 5px;
        padding: 5px;
    }
}