/*Css style for the about content component.. */

.a-container {  /*styling background colour of about content page */
   /* position: absolute;*/
    width: 100%;
    height: 120vh;
    background: linear-gradient(180deg,
     rgba(0, 0, 0, 0.78) 0%,
      rgba(255, 255, 255, 0.08) 29.28%, 
      rgba(102, 102, 102, 0) 51.56%,
       rgba(0, 0, 0, 0.77) 100%);
       display: flow-root;
    }

    html, body {width: auto!important; overflow-x: hidden!important}
    
    html {
        overflow-x: hidden;
      }
      

    .title-a{
        font-family: 'Sansation';
        display: flex;
        justify-content: center;
        margin-top: 5%;
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 62px;
        color: #000000;

    }

    .a-content{
        width: 95vw;
        height: 90vh;
        margin-left:20px;
       display:inline-block;
       flex-wrap: wrap;
        background: #FFFFFF;
        box-shadow: 8px 8px 4px 4px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .sec1{
        display: -webkit-box;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .photo{
        padding: 10px;
    }

    .sec1 .txt{
        width: 1203px;
        height: 300px;
        left: 340px;
        top: 237px;
        
        font-family: 'Signika';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        text-align: justify;
    }

    .sec1 .icons-a{
        width: 26.94px;
        height: 22.62px;
     
       padding: 5px;
       margin-right: 10px;
       border: 1px solid #000000;
       color: #000000;
    }

    .icons-a:hover{
        color: gray;
    }

    .sec2{
        width: 98%;
        height: 49%;
        top: 624px;
        margin-left: 10px;
        background: linear-gradient(180deg, #292727 4.69%, 
        rgba(41, 39, 39, 0.77) 47.91%, #292727 89.06%);
        border-radius: 10px;
    }

    .sec2 .sec2-sk{
        display: flex;
        justify-content: space-around;
    }

    .sec2 > h3{
        width: 94px;
        height: 49px;
       margin-left: 10px;
        padding-top: 30px;
        font-family: 'Signika';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 0px;
        color: #FFFFFF;
    }

    .skl1{
        display:inline-block;
        width: 402px;
        height: 289px;
        margin-left: 10px;
        border: 2px solid #000000;
        border-radius: 10px;
        margin-top: -50px;
    }

    .skl1 > li {
        
        font-family: 'Signika';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 20px;
        padding-top: 10px;
        color: #FFFFFF;
        text-align: left;
    }

    .sec2 > .skl1{
        margin-right: 5%;
    }

    /*media screen responsive for large desktop screen */

    @media  only screen and (max-width: 1625px) {
        .sec2{
            width: 98%;
            height: 49%;
            margin-top: -3%;
   
        }
    }

    /*media screen responsive for mediun desktop screen */

    @media  only screen and (max-width: 1567px) {
    

        .sec1 .txt{
            width: 75%;
            height: 300px;
        }
    }

    /*media screen responsive for large laptop screen */

    @media  only screen and (max-width: 1280px) {

        .a-container {
            /* position: absolute;*/
             width: 100%;
             height: 100%;
             padding-bottom: 30px;
                display: flow-root;
             }
         
             .title-a{
                 font-family: 'Sansation';
                 display: flex;
                 justify-content: center;
                 margin-top: 8%;
                margin-left: 15%;
                 font-size: 40px;
                 line-height: 62px;
         
             }
         
             .a-content{
                 width:89vw;
                 height: 100%;
                 margin-left: 0%;
                display:inline-block;
                flex-wrap: wrap;
                
             }
         
             .sec1{
                 display: -webkit-box;
                 flex-direction: row;
                 flex-wrap: wrap;
             }
         
             .photo{
                 padding: 10px;
             }
         
             .sec1 .txt{
                width: 71%;
                height: 300px;
            }
        
         
             .sec1 .icons-a{
                padding: 5px;
                margin-right: 10px;
           
             }
         
            
             .sec2{
                 width: 98%;
                 height: 100%;
                 margin-top: 7%;
                 margin-left: 5px;
            
             }
         
             .sec2 > h3{
                 width: 94px;
                 height: 49px;
                margin-left: 10px;
                padding-top: 25PX;
                 font-size: 27px;
                 line-height: 0px;
            
             }
         
             .skl1{
                 display:inline-block;
                 width: 275px;
                 height: 197px;
                 margin-left: 0px;
                 margin-top: -50px;
             }
         
             .skl1 > li {
                
                 font-size: 16px;
                 line-height: 11px;
                 padding-top: 10px;
                
             }
         
             .sec2 > .skl1{
                margin-right: 5%;
                margin-TOP: 2%;
                margin-left: -3%;
                display: inline-block;
            }

   
    }

    /*media screen responsive for large laptop screen */

    @media  only screen and (max-width: 1109px) {
        .sec1 .txt{
            width: 70%;
            height: 300px;
        }

        .sec2{
            width: 98%;
            height: 100%;
            margin-top: 10%;
            margin-left: 5px;
       
        }

    }    

        /*media screen responsive for large laptop screen */
    @media  only screen and (max-width: 1024px) {

        .a-container {
            /* position: absolute;*/
             width: 100%;
             height: 100%;
                display: flow-root;
             }
         
             .title-a{
                 font-family: 'Sansation';
                 display: flex;
                 justify-content: center;
                 margin-top: 8%;
                margin-left: 15%;
                 font-size: 40px;
                 line-height: 62px;
         
             }
         
             .a-content{
                 width:89vw;
                 height: 100%;
                 margin-left: 0%;
                display:inline-block;
                flex-wrap: wrap;
                
             }
         
             .sec1{
                 display: -webkit-box;
                 flex-direction: row;
                 flex-wrap: wrap;
             }
         
             .photo{
                 padding: 10px;
             }
         
             .sec1 .txt{
                width: 68%;
                height: 300px;
            }
        
         
             .sec1 .icons-a{
                padding: 5px;
                margin-right: 10px;
           
             }
         
            
             .sec2{
                 width: 98%;
                 height: 100%;
                 margin-top: 25%;
                 margin-left: 5px;
            
             }

             .sec2 .sec2-sk{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
         
             .sec2 > h3{
                 width: 94px;
                 height: 49px;
                margin-left: 10px;
                padding-top: 25PX;
                 font-size: 27px;
                 line-height: 0px;
            
             }
         
             .skl1{
                 display:inline-block;
                 width: 275px;
                 height: 197px;
                 margin-left: 10px;
                 margin-right: 10px;
                 margin-top: 0px;
             }
         
             .skl1 > li {
                
                 font-size: 16px;
                 line-height: 11px;
                 padding-top: 10px;
                
             }
         
             .sec2 > .skl1{
                margin-right: 10%;
                margin-TOP: 2%;
                margin-left: -8%;
                display: inline-block;
            }

   
    }

        /*media screen responsive for small laptop screen */

    @media  only screen and (max-width: 985px) {
        html {
            overflow-x: hidden;
          }
          
        .sec1 .txt{
            width: 65%;
            height: 300px;
        }
     
    }  

        /*media screen responsive for small laptop screen */

    @media  only screen and (max-width: 912px) {
        .a-container {
            /* position: absolute;*/
             width: 100%;
             height: 100%;
                display: flow-root;
             }
         
             .title-a{
                 font-family: 'Sansation';
                 display: flex;
                 justify-content: center;
                 margin-top: 8%;
                margin-left: 40%;
                 font-size: 40px;
                 line-height: 62px;
         
             }
         
             .a-content{
                 width:89vw;
                 height: 100%;
                 margin-left: 0%;
                display:inline-block;
                flex-wrap: wrap;
                
             }
         
             .sec1{
                 display: -webkit-box;
                 flex-direction: row;
                 flex-wrap: wrap;
             }
         
             .photo{
                 width: 288px;
                 height: 396px;
                 padding: 10px;
             }
             
             .sec1 .txt{
                width: 61%;
                height: 300px;
            }
         
             .sec1 .icons-a{
                padding: 5px;
                margin-right: 10px;
           
             }
         
            
             .sec2{
                 width: 98%;
                 height: 100%;
                 margin-top: 40%;
                 margin-left: 5px;
            
             }
         
             .sec2 > h3{
                 width: 94px;
                 height: 49px;
                margin-left: 10px;
                padding-top: 25PX;
                 font-size: 27px;
                 line-height: 0px;
            
             }
         
             .skl1{
                 display:inline-block;
                 width: 275px;
                 height: 197px;
                 margin-left: 10px;
                 margin-top: 0px;
             }
         
             .skl1 > li {
                
                 font-size: 16px;
                 line-height: 11px;
                 padding-top: 10px;
                
             }
         
             .sec2 > .skl1{
                margin-right: 1%;
                margin-TOP: 5%;
                display: inline-block;
            }

  
    }

        /*media screen responsive for large tablet screen */

    @media  only screen and (max-width: 853px) {
        .sec1 .txt{
        width: 61%;
        height: 300px;
    }

         
    .sec2 {
        width: 60%;
        height: 100%;
        margin-top: 50%;
        margin-left: 5px;
    }
}

    /*media screen responsive for mediun tablet screen */

    @media  only screen and (max-width: 820px) {
        .a-container {
            /* position: absolute;*/
             width: 100vw;
             height: 100%;
                display: flow-root;
             }
         
             .title-a{
                 font-family: 'Sansation';
                 display: flex;
                 justify-content: center;
                 margin-top: 8%;
                margin-left: 40%;
                 font-size: 40px;
                 line-height: 62px;
         
             }
         
             .a-content{
                 width:89vw;
                 height: 100%;
                 margin-left: 0%;
                display:inline-block;
                flex-wrap: wrap;
                
             }
         
             .sec1{
                 display: -webkit-box;
                 flex-direction: row;
                 flex-wrap: wrap;
             }
         
             .photo{
                 padding: 10px;
             }
         
             .sec1 .txt{
                width: 61%;
                height: 300px;
            }

             .sec1 .icons-a{
                padding: 5px;
                margin-right: 10px;
           
             }
         
            
             .sec2 {
                width: 98%;
                height: 100%;
                margin-top: 50%;
                margin-left: 5px;
            }
         
             .sec2 > h3{
                 width: 94px;
                 height: 49px;
                margin-left: 10px;
                padding-top: 25PX;
                 font-size: 27px;
                 line-height: 0px;
            
             }
         
             .skl1{
                 display:inline-block;
                 width: 275px;
                 height: 197px;
                 margin-left: 10px;
                 margin-top: 0px;
             }
         
             .skl1 > li {
                
                 font-size: 16px;
                 line-height: 11px;
                 padding-top: 10px;
                
             }
         
             .sec2 > .skl1{
                margin-right: 1%;
                margin-TOP: 5%;
                display: inline-block;
            }

  
    }

        /*media screen responsive for small tablet screen */

    @media  only screen and (max-width: 781px) {
        .sec1 .txt{
            width: 61%;
            height: 300px;
            font-size: 16px;
        }

        .sec2 {
            width: 98%;
            height: 100%;
            margin-top: 40%;
            margin-left: 5px;
        }
    }

     /*media screen responsive for small tablet screen */

    @media  only screen and (max-width: 768px) {
        .a-container {
            /* position: absolute;*/
             width: 100%;
             height: 100%;
                display: flow-root;
             }
         
             .title-a{
                 font-family: 'Sansation';
                 display: flex;
                 justify-content:flex-start;
                 margin-top: 8%;
                margin-left: 30%;
                 font-size: 40px;
                 line-height: 62px;
         
             }
         
             .a-content{
                 width:89vw;
                 height: 100%;
                 margin-left: 0%;
                display:inline-block;
                flex-wrap: wrap;
                
             }
         
             .sec1{
                 display: -webkit-box;
                 flex-direction: row;
                 flex-wrap: wrap;
             }
         
             .photo{
                 padding: 10px;
             }
         
             .sec1 .txt{
                width: 61%;
                height: 300px;
                font-size: 16px;
            }
         
             .sec1 .icons-a{
                padding: 5px;
                margin-top: -2px;
                margin-right: 10px;
           
             }
         
            
             .sec2{
                 width: 98%;
                 height: 100%;
                 margin-top: 38%;
                 margin-left: 5px;
            
             }

             .sec2 .sec2-sk{
                display: flex;
                justify-content: space-evenly;
            }
        
         
             .sec2 > h3{
                 width: 94px;
                 height: 49px;
                margin-left: 10px;
                padding-top: 25PX;
                 font-size: 27px;
                 line-height: 0px;
            
             }
         
             .skl1{
                 display:inline-block;
                 width: 275px;
                 height: 197px;
                 margin-left: 10px;
                 margin-top: 0px;
             }
         
             .skl1 > li {
                
                 font-size: 16px;
                 line-height: 11px;
                 padding-top: 10px;
                
             }
         
             .sec2 > .skl1{
                margin-right: 1%;
                margin-TOP: 5%;
                display: inline-block;
            }

  
    }

            /*media screen responsive for small tablet screen */

    @media  only screen and (max-width: 731px) {
        .sec1 .txt{
            width: 61%;
            height: 300px;
            font-size: 15px;
        }

    
     
    }

            /*media screen responsive for small tablet screen */

    @media  only screen and (max-width: 661px) {
        .sec1 .txt{
            width: 61%;
            height: 300px;
            font-size: 15px;
            display: initial;
            margin-right: 10px;
        }
        .sec2{
            width: 98%;
            height: 100%;
            margin-top: 8%;
            margin-left: 5px;
       
        }
    }

            /*media screen responsive for large mobile screen */

    @media  only screen and (max-width: 540px) {
        .a-container {
            /* position: absolute;*/
             width: 100vw;
             height: 100%;
                display: flow-root;
             }
         
             .title-a{
                 font-family: 'Sansation';
                 display: flex;
                 justify-content:flex-start;
                 margin-top: 8%;
                 margin-left: 30%;
                 font-size: 35px;
                 line-height: 52px;
         
             }
         
             .a-content{
                 width: 89vw;
                 height: 100%;
                 margin-left: 0%;
                display:inline-block;
                flex-wrap: wrap;
                
             }
         
             .sec1{
                 display: -webkit-box;
                 flex-direction: column;
                 flex-wrap: wrap;
             }
         
             .photo{
                 padding: 10px;
             }
         
             .sec1 .txt{
                 width: 460px;
                 height: 600px;
                 font-size: 15px;
                 line-height: 23px;
                 text-align: justify;
                 margin-left: 5px;
             }
         
             .sec1 .icons-a{
                padding: 5px;
                margin-right: 10px;
                margin-top: 1px;

            
             }
         
           
             .sec2{
                 width: 95%;
                 height: 100%;
                 margin-left: 5px;
                 margin-right: 10px;
                margin-top: 0%;
             }
         
             .sec2 > h3{
             
                margin-left: 5px;
                 font-size: 30px;
                 line-height: 10px;
                padding-top: 20px;
             }
         
             .skl1{
                 display:inline-block;
                 width: 80%;
                 height: 100%;
                 margin-left: 5px;
                 border-radius: 10px;
                 margin-top: -10px;
             }
         
             .skl1 > li {
                 
                 font-size: 15px;
                 line-height:normal;
                 padding-top: 10px;
              
             }
         
             .sec2 > .skl1{
                 margin-right: 3%;
             }

    }


            /*media screen responsive for large mobile screen */

    @media  only screen and (max-width: 414px) {
        .a-container {
            /* position: absolute;*/
             width: 100vw;
             height: 100%;
                display: flow-root;
             }
         
             .title-a{
                 font-family: 'Sansation';
                 display: flex;
                 justify-content: center;
                 margin-top: 8%;
                 font-size: 35px;
                 line-height: 52px;
                 margin-right: 20%;
                 margin-left: 10%;
         
             }
         
             .a-content{
                 width: 89vw;
                 height: 100%;
                 margin-left: 0%;
                display:inline-block;
                flex-wrap: wrap;
                
             }
         
             .sec1{
                 display: -webkit-box;
                 flex-direction: column;
                 flex-wrap: wrap;
             }
         
             .photo{
                 padding: 10px;
             }
         
             .sec1 .txt{
                 width: 320px;
                 height: 600px;
                 font-size: 12px;
                 line-height: 23px;
                 text-align: justify;
                 margin-left: 5px;
             }
         
             .sec1 .icons-a{
                
                padding: 5px;
                margin-right: 10px;
                margin-top: 10px;

            
             }
         
           
             .sec2{
                 width: 100%;
                 height: 100%;
                 margin-left: 5px;
                 margin-right: 10px;
                
             }
         
             .sec2 > h3{
             
                margin-left: 5px;
                 font-size: 30px;
                 line-height: 10px;
                padding-top: 20px;
             }
         
             .skl1{
                 display:inline-block;
                 width: 80%;
                 height: 100%;
                 margin-left: 5px;
                 border-radius: 10px;
                 margin-top: -10px;
             }
         
             .skl1 > li {
                 
                 font-size: 15px;
                 line-height:normal;
                 padding-top: 10px;
              
             }
         
             .sec2 > .skl1{
                 margin-right: 3%;
             }

    }

    /*media screen responsive for small mobile screen */

    @media  only screen and (max-width: 375px) {
        html {
            overflow-x: hidden;
          }
          
        .a-container {
            /* position: absolute;*/
             width: 100vw;
             height: 100%;
                display: flow-root;
             }
         
             .title-a{
                 font-family: 'Sansation';
                 display: flex;
                 justify-content: center;
                 margin-top: 8%;
                 font-size: 38px;
                 line-height: 52px;
         
             }
         
             .a-content{
                 width: 89vw;
                 height: 100%;
                 margin-left: 0%;
                display:inline-block;
                flex-wrap: wrap;
                
             }
         
             .sec1{
                 display: -webkit-box;
                 flex-direction: column;
                 flex-wrap: wrap;
             }
         
             .photo{
                 padding: 10px;
             }
         
             .sec1 .txt{
                 width: 320px;
                 height: 600px;
                 font-size: 12px;
                 line-height: 23px;
                 text-align: justify;
             }
         
             .sec1 .icons-a{
                padding: 5px;
                margin-right: 10px;
                margin-top: 10px;

            
             }
         
           
             .sec2{
                 width: 100%;
                 height: 100%;
                 margin-left: 5px;
                 margin-right: 10px;
                
             }
         
             .sec2 > h3{
             
                margin-left: 5px;
                 font-size: 30px;
                 line-height: 10px;
                padding-top: 20px;
             }
         
             .skl1{
                 display:inline-block;
                 width: 80%;
                 height: 100%;
                 margin-left: 5px;
                 border-radius: 10px;
                 margin-top: -10px;
             }
         
             .skl1 > li {
                 
                 font-size: 15px;
                 line-height:normal;
                 padding-top: 10px;
              
             }
         
             .sec2 > .skl1{
                 margin-right: -8%;
             }
    }