/*Css style for the contact content component*/

html, body {width: auto!important; overflow-x: hidden!important}

.cContainer {
    /*position: absolute;*/
    width: 100vw;
    height: 100%;
    background: linear-gradient(180.64deg, 
    rgba(177, 177, 177, 0.76) 6.36%,
     rgba(193, 188, 188, 0) 32.13%,
      rgba(179, 179, 179, 0.76) 79.79%);

    display: flow-root;

    }

    .title-c{
        font-family: 'Sansation';
        display: flex;
        justify-content: center;
        margin-top: 5%;
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 62px;
        color: #000000;

    }

    .cContent{
        margin-left: 20px;
    }

    form{   /*styling the form tag using grid css */
        display: grid; 
      grid-template-columns: 1fr ; 
      grid-gap: 20px;
      width: 20%;

    }
    
    label{
        display: inline-block; 
    }
    
    span{
        display: flex;
    }

    .required:after{
        content: " * ";
        color: red;
    }
    
    input{
        border: 1px solid #000000; 
        padding: 0.5em; 
        width: 200%; 
        color: #fff;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.65);
        border: 1.1727px solid #FFFFFF;
        box-sizing: border-box;
    }
    
    
    textarea{
        border: 1px solid #000000; 
        padding: 1em; 
        width: 200%;
        height: 186px; 
        color: #fff;
        background: rgba(0, 0, 0, 0.65);
        border: 1.1727px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 5px;

    }

    .btContact{
        display: flex;
        padding: 20px;
        margin-left: 0;
    }

    .cContent .c-right{

        border: dashed 2px #000000;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10%;
        margin-top: -20%;
        position: absolute;
    }

    .c-right >  h4{
    display: flex;  
     }

     .c-right > p{
        display: flex;  
          }

/*media screen responsive for large laptop screen */

@media only screen and (max-width:1280px) {

        .cContent .c-right{
            
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 15%;
            margin-top: -35%;
            position: absolute;
        }

        form{
            display: grid; 
          grid-template-columns: 1fr ; 
          grid-gap: 20px;
          width: 30%;
        
        }
    }

    /*media screen responsive for large laptop screen */

@media only screen and (max-width:1024px) {
  
        
        .cContent .c-right{
            
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 15%;
            margin-top: -45%;
            position: absolute;
        }

        form{
            display: grid; 
          grid-template-columns: 1fr ; 
          grid-gap: 20px;
          width: 30%;
        
        }
        
}

/*media screen responsive for small laptop screen */

@media only screen and (max-width:986px) {
    .btContact{
        display: flex;
        padding: 10px;
        margin-left: 40px ;
    }

}

/*media screen responsive for small laptop screen */

@media only screen and (max-width:959px) {
    
    .btContact .btn--secondary--solid{
        display: flex;
        padding: 10px;
        margin-left: -50px;
    }
}

/*media screen responsive for large tablet screen */

@media only screen and (max-width:912px) {

.cContent .c-right{
    
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15%;
    margin-top: -55%;
    position: absolute;
}

form{
    display: grid; 
  grid-template-columns: 1fr ; 
  grid-gap: 20px;
  width: 29%;

}
}

/*media screen responsive for mediun tablet screen */

@media only screen and (max-width:820px) {
    .cContainer {
        /*position: absolute;*/
        width: 100vw;
        height: 100%;
    
        }

    form{
        display: grid; 
      grid-template-columns: 1fr ; 
      grid-gap: 20px;
      width: 25%;

    }

    .cContent .c-right{
    
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 15%;
        margin-top: -60%;
        position: absolute;
    }

}

/*media screen responsive for large mobile screen */

@media only screen and (max-width:583px) {

.title-c {
    margin-top: 5%;
    font-size: 40px;
 
}

}

/*media screen responsive for large mobile screen */

@media only screen and (max-width:523px) {

.title-c {
    margin-top: 5%;
    font-size: 35px;
 
}
}

/*media screen responsive for mediun mobile screen */

@media only screen and (max-width:433px) {
    
    .title-c{ 
        font-size: 40px;

    }
}

/*media screen responsive for mediun mobile screen */

@media only screen and (max-width:414px) {
    .cContainer {
        /*position: absolute;*/
        width: 100vw;
        height: 100%;
        padding-bottom: 100%;
      
        }
    
        .title-c{
            display: flex;
            justify-content: start;
            margin-top: 10%;
            margin-left: 80px;
            font-weight: 700;
            font-size: 35px;
    
        }
    
        .cContent{
            margin-left: 10px;
        }
    
        form{
            display: grid; 
          grid-template-columns: 1fr ; 
          grid-gap: 20px;
          width: 48%;
    
        }
   
        
        .btContact .btn--secondary--solid {
           
            display: flex;
            padding: 20px;
            margin-left: 30px;
        }
    
        .cContent .c-right{
    
            padding-left: 20px;
            padding-right: 20px;
            margin-left: -35%;
            margin-top: 10%;
            position: absolute;
        }
    
        .c-right >  h4{
        display: flex;  
         }
    
         .c-right > p{
            display: flex;  
              }
    
}
    
/*media screen responsive for small mobile screen */

@media only screen and (max-width:390px) {
    .cContainer {
        /*position: absolute;*/
        width: 160vw;
        height: 100%;
        padding-bottom: 100%;
      
        }
    
        .title-c{
            display: flex;
            justify-content: start;
            margin-top: 10%;
            margin-left: 80px;
            font-weight: 700;
            font-size: 35px;
    
        }
    
        .cContent{
            margin-left: 10px;
        }
    
        form{
            display: grid; 
          grid-template-columns: 1fr ; 
          grid-gap: 20px;
          width: 45%;
    
        }
   
        
        .btContact .btn--secondary--solid {
           
            display: flex;
            padding: 20px;
            margin-left: 30px;
        }
    
        .cContent .c-right{
    
            padding-left: 20px;
            padding-right: 20px;
            margin-left: -45%;
            margin-top: 10%;
            position: absolute;
        }
    
        .c-right >  h4{
        display: flex;  
         }
    
         .c-right > p{
            display: flex;  
              }
    
}
    
/*media screen responsive for small mobile screen */

@media only screen and (max-width:375px) {
    .cContainer {
        /*position: absolute;*/
        width: 100vw;
        height: 100%;
        padding-bottom: 100%;
      
        }
    
        .title-c{
            display: flex;
            justify-content: start;
            margin-top: 10%;
            margin-left: 80px;
            font-weight: 700;
            font-size: 35px;
    
        }
    
        .cContent{
            margin-left: 10px;
        }
    
        form{
            display: grid; 
          grid-template-columns: 1fr ; 
          grid-gap: 20px;
          width: 30%;
    
        }
   
        
        .btContact .btn--secondary--solid {
           
            display: flex;
            padding: 20px;
            margin-left: 30px;
        }
    
        .cContent .c-right {
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 12%;
            margin-top: -130%;
            position: absolute;
        }

        .cContent .c-right {
            width: 30%;
        }
    
        .c-right >  h4{
        display: flex;  
         }
    
         .c-right > p{
            display: flex;  
              }
    
}
    