 /*..Css style for home content component...*/

 html, body {width: auto!important; overflow-x: hidden!important}

 .h-container  {
    width: 100%;
    height: 100vh;
    background-image: url('../Images/hbkg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    display: flow-root;

}

.h-container h2{
    position: relative;
    width: 700px;
    height: 224px;
    left: 180px;
    top: 250px;
    
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 62px;
    
    color: #FFFFFF;
    }

    .h-container p{
        position: relative;
        width: 701px;
        height: 62px;
        left: 500px;
        top: 35px;
        text-align: left;
        
        font-family: 'Sansation';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 62px;        
        
        color: #FFFFFF;
        
        }

        .btOne{
            text-decoration: none;
        }

        .icons{
            position: relative;
            width: 41px;
            height: 35px;
            left: -220px;
            top: -23%;
           padding: 5px;
           margin-right: 10px;
           border: 1px solid #fff;
           color: #000000;
        }

        .icons:hover{
            color: gray;
        }

        /*media screen responsive for large desktop screen */

        @media only screen and (max-width: 1886px) {
            .icons{
                position: relative;
                width: 41px;
                height: 35px;
                left: -208px;
                top: -5%;
           
            }
        }

        /*media screen responsive for small desktop screen */

        @media only screen and (max-width: 1355px) {
            .icons{
                width: 41px;
                height: 35px;
                left: -185px;
                top: -5%;
               padding: 5px;
               margin-right: 10px;
               border: 1px solid #fff;
               color: #000000;
            }

            .h-container h2{
                position: relative;
                width: 700px;
                height: 224px;
                left: -10px;
                top: 250px;
                
                font-family: 'Sansation';
                font-style: normal;
                font-weight: 700;
                font-size: 55px;
                line-height: 62px;
                
                color: #FFFFFF;
                }
            
                .h-container p{
                    position: relative;
                    width: 701px;
                    height: 62px;
                    left: 300px;
                    top: 35px;
                    text-align: left;
                    
                    font-family: 'Sansation';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 55px;
                    line-height: 62px;        
                    
                    color: #FFFFFF;
                    
                    }
        }

        /*media screen responsive for large laptop screen */

        @media only screen and (max-width: 1223px) {

            .h-container {
                width: 100vw;
                height: 100vh;
               
            } 

            .icons{
                width: 41px;
                height: 35px;
                left: -75px;
                top: -5%;
               padding: 5px;
               margin-right: 10px;
               border: 1px solid #fff;
               color: #000000;
            }

            .h-container h2{
                position: relative;
                width: 700px;
                height: 224px;
                left: -10px;
                top: 250px;
                
                font-family: 'Sansation';
                font-style: normal;
                font-weight: 700;
                font-size: 55px;
                line-height: 62px;
                
                color: #FFFFFF;
                }
            
                .h-container p{
                    position: relative;
                    width: 701px;
                    height: 62px;
                    left: 300px;
                    top: 35px;
                    text-align: left;
                    
                    font-family: 'Sansation';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 55px;
                    line-height: 62px;        
                    
                    color: #FFFFFF;
                    
                    }
        }
   
        /*media screen responsive for mediun laptop screen */

        @media only screen and (max-width: 1123px) {

            .icons{
                width: 41px;
                height: 35px;
                left: 40px;
                top: -11%;
               padding: 5px;
               margin-right: 10px;
               border: 1px solid #fff;
               color: #000000;
            }

        
        }
   
        /*media screen responsive for large tablet screen */

        @media only screen and (max-width: 951px) {

            .h-container  {
               width: 100vw;
               height: 100vh;
               background-image: url('../Images/hbkg.png');
               background-size: cover;
               background-repeat: no-repeat;
               background-position-y: 100%;
               background-position-x: 100%;
               display: flow-root;
           
           }

           .h-container h2{
            position: relative;
            width: 700px;
            height: 224px;
            left: -160px;
            top: 80px;
            
            font-family: 'Sansation';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 62px;
            
            color: #FFFFFF;
            }
        
            .h-container p{
                width: 601px;
                height: 62px;
                left: 150px;
                top: -150px;
                text-align: left;
                
                font-family: 'Sansation';
                font-style: normal;
                font-weight: 700;
                font-size: 45px;
                line-height: 62px;        
                
                color: #FFFFFF;
                
                }


            .icons{
                width: 41px;
                height: 35px;
                left: -80px;
                top: -40%;
       
            }

        
        }

        /*media screen responsive for large tablet screen */

        @media only screen and (max-width: 871px) {
            .h-container h2{
                position: relative;
                width: 700px;
                height: 224px;
                left: -160px;
                top: 60px;
                
                font-family: 'Sansation';
                font-style: normal;
                font-weight: 700;
                font-size: 45px;
                line-height: 62px;
                
                color: #FFFFFF;
                }
            
                .h-container p{
                    width: 601px;
                    height: 62px;
                    left: 150px;
                    top: -160px;
                    text-align: left;
                    
                    font-family: 'Sansation';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 45px;
                    line-height: 62px;        
                    
                    color: #FFFFFF;
                    
                    }
    
    
                .icons{
                    width: 41px;
                    height: 35px;
                    left: -50px;
                    top: -48%;
                   padding: 5px;
                   margin-right: 10px;
                   border: 1px solid #fff;
                   color: #000000;
                }
        }

        /*media screen responsive for large tablet screen */

        @media only screen and (max-width: 801px) {

    
                .icons{
                    width: 41px;
                    height: 35px;
                    left: 10px;
                    top: -45%;
                   padding: 5px;
                   margin-right: 10px;
                   border: 1px solid #fff;
                   color: #000000;
                }
        }

        /*media screen responsive for mediun tablet screen */

        @media only screen and (max-width: 709px) {

    
            .icons{
                width: 41px;
                height: 35px;
                left: 30px;
                top: -40%;
               padding: 5px;
               margin-right: 10px;
               border: 1px solid #fff;
               color: #000000;
            }

            .h-container h2{
                position: relative;
                width: 700px;
                height: 224px;
                left: -270px;
                top: 60px;
                
        
                }
            
                .h-container p{
                    width: 601px;
                    height: 62px;
                    left: 50px;
                    top: -160px;
                    text-align: left;
                    
                    }
    
    }

    /*media screen responsive for small tablet screen */

    @media only screen and (max-width: 661px) {

    
        .icons{
            width: 41px;
            height: 35px;
            left:-190px;
            top: -5%;
           padding: 5px;
           margin-right: 10px;
           border: 1px solid #fff;
           color: #000000;
        }

        .h-container h2{
            position: relative;
            width: 700px;
            height: 224px;
            left: -300px;
            top: 70px;
            
     
            }
        
            .h-container p{
                width: 550px;
                height: 62px;
                left: 20px;
                top: -150px;
                text-align: left;
                font-size: 40px;
                
                }
}

/*media screen responsive for small tablet screen */

@media only screen and (max-width: 639px) {

    .icons {
        width: 41px;
        height: 35px;
        left: 10px;
        top: -15%;
    }
}

/*media screen responsive for large mobile screen */

@media only screen and (max-width: 590px) {
    .h-container  {
        width: 100vw;
        height: 100vh;
        background-image: url('../Images/hbkg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-position-x: 80%;
        display: flow-root;
    
    }
    
    .icons{
        width: 41px;
        height: 35px;
        left: -10px;
        top: -15%;
 
    }
}

/*media screen responsive for large mobile screen */

@media only screen and (max-width: 529px) {
    .h-container  {
       width: 100vw;
       height: 100vh;
       background-image: url('../Images/hbkg.png');
       background-size: cover;
       background-repeat: no-repeat;
       background-position-y: 100%;
       background-position-x: 80%;
       display: flow-root;
   
   }
            .h-container h2{
            position: relative;
            width: 700px;
            height: 224px;
            left: -300px;
            top: 100px;
            font-size: 35px;            
            }
        
            .h-container p{
                width: 501px;
                height: 62px;
                left: 20px;
                top: -100px;
                text-align: left;
                font-size: 35px;
                line-height: 42px;        

                                
                }
    
    .icons{
        width: 41px;
        height: 35px;
        left: -140px;
        top: -12%;
       padding: 5px;
       margin-right: 10px;
       border: 1px solid #fff;
       color: #000000;
    }
}

/*media screen responsive for mediun mobile screen */

@media only screen and (max-width: 485px) {
    
    .icons{
        width: 41px;
        height: 35px;
        left: -150px;
        top: -10%;
       padding: 5px;
       margin-right: 10px;
       border: 1px solid #fff;
       color: #000000;
    }
}

/*media screen responsive for mediun mobile screen */

@media only screen and (max-width: 433px) {
    
    .icons {
        width: 41px;
        height: 35px;
        left: -100px;
        top: -10%;
        padding: 5px;
        margin-right: 10px;
        border: 1px solid #fff;
        color: #000000;
    }

    .h-container h2{
        position: relative;
        width: 700px;
        height: 224px;
        left: -320px;
        top: 100px;
        font-size: 35px;            
        }
    
        .h-container p {
            width: 400px;
            height: 62px;
            left: 10px;
            top: -100px;
            text-align: left;
            font-size: 30px;
            line-height: 42px;
        }
}

/*media screen responsive for small mobile screen */

@media only screen and (max-width: 409px) {
    
    .h-container  {
        width: 100vw;
        height: 100vh;
        background-image: url('../Images/hbkg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-position-x: 80%;
        display: flow-root;
    
    }

    .h-container h2{
        position: relative;
        width: 700px;
        height: 224px;
        left: -320px;
        top: 100px;
        font-size: 25px;            
        }
    
        .h-container p{
            width: 301px;
            height: 62px;
            left: 10px;
            top: -100px;
            text-align: left;
            font-size: 25px;
            line-height: 32px;                       
            }

            .icons{
                width: 31px;
                height: 25px;
                left: -5px;
                top: -58%;
               padding: 5px;
               margin-right: 10px;
               border: 1px solid #fff;
               color: #000000;
            }
        
}

/*media screen responsive for small mobile screen */

@media only screen and (max-width: 375px) {

     
    .icons {
        width: 31px;
        height: 25px;
        left: -90px;
        top: -18%;
    }

        
}




   