/* styling portfolio first part pt1, with all responsive first and 2 part pt2 after*/

html, body {width: auto!important; overflow-x: hidden!important}

.p-container{     /* whole portfolio page background*/

   /* position: absolute;*/
    width: 100%;
    height: 100%;
   
    background: linear-gradient(180deg, 
    rgba(102, 102, 102, 0.71) 23.48%, 
    rgba(193, 193, 193, 0.36) 83.85%);
    display: flow-root;

}

.title-p{    /* page title Portfolio*/

    font-family: 'Sansation';
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 62px;
    color: #000000;

}

.intro > p{   /* intruoction paragraph*/

    font-family: 'Signika';
    font-style: normal;
    font-weight:100;
    font-size: 16px;
    margin: 5px;
    width: 50%;
    display:inline-block;
    justify-content: center;
    line-height: 22px;
    text-align:justify;
}

   /* Start below the first part portfolio css till end of 1st brief small tasks*/

.pt1{     /* backgound colour of 1st part portfolio*/

    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    
    background: linear-gradient(180deg,
     rgba(255, 255, 255, 0.46) 2.67%,
      rgba(177, 177, 177, 0.49) 8.85%, 
      rgba(255, 255, 255, 0.46) 44.27%, 
      #E5E5E5 84.41%, rgba(0, 0, 0, 0.53) 100%);
}

.pt1-1 > h2{
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 20px;
}

.pt1-1 > p{
    font-family: 'Signika';
    font-style: normal;
    font-weight:lighter;
    font-size: 16px;
    line-height: 22px;
    width: 40%;
    text-align:justify;
    margin-left: 20px;

}

.pt1-1 .icons-a{      /* ist part socila media icons css*/

    width: 26.94px;
    height: 22.62px;
 
   padding: 5px;
   margin-right: 10px;
   border: 1px solid #000000;
   color: #000000;
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: flex-end;
   align-items: flex-end;
   
}

.icons-a:hover{
    color: gray;
}

.ic{
    margin-left: 80%;
    margin-top: -3%;
}

 hr{     /* hr tag for the black line separate the parts of the portfolio*/

    border:0.5px solid #000000;
    margin: 10px;
}


   /* second block of 1st part css starting below*/

.pt1-2 > h3{
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 20px;
}

.pt1-2 > p{
    font-family: 'Signika';
    font-style: normal;
    font-weight:lighter;
    font-size: 16px;
    line-height: 22px;
    width: 90%;
    text-align:justify;
    margin-left: 20px;

}
.pt1-block1{
    display:table-cell;
}

.pt1-block1 > h4{
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 20px;
}

.phase1, .phase2, .phase3, .phase4 > ul{
    font-family: 'Signika';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
}

.pt1-block1 .phase1{
    width: 412px;
    height: 241px;
    background: rgba(196, 196, 196, 0.49);
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: left;
    align-items: flex-start;
}

.phase1  > strong{
    font-family: 'Signika';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-left: 20px;
}

.pt1-block1 .phase2{
    width: 412px;
    height: 241px;
    background: rgba(196, 196, 196, 0.49);
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: left;
    align-items: flex-start;
}

.phase2 > strong{
    margin-left: 20px;
    font-family: 'Signika';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.pt1-block1 .phase3{
    width: 412px;
    height: 241px;
    background: rgba(196, 196, 196, 0.49);
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: left;
    align-items: flex-start;
}

.phase3 > strong{
    margin-left: 20px;
    font-family: 'Signika';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.pt1-block1 .phase4{
    width: 412px;
    height: 241px;
    background: rgba(196, 196, 196, 0.49);
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: left;
    align-items: flex-start;
}

.phase4 > strong{
    margin-left: 20px;
    font-family: 'Signika';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
   /* End of 2nd block of 1st part css style*/

   /* start of 3rd block of the 1st part css portfolio*/

.pt1-3 > h3{
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 20px;
}

.pt1-3 > p{
    font-family: 'Signika';
    font-style: normal;
    font-weight:lighter;
    font-size: 16px;
    line-height: 22px;
    width: 90%;
    text-align:justify;
    margin-left: 20px;

}

.pt1-3Title > h4{
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 20px;
}

.pt1-3Title  > img{
   
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: left;
    align-items: flex-start;
}

.pt1-block2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.pt1-block2 .colour{
    justify-content:flex-start;
    margin-left: -5%;

}

   /* End of 3rd block of the 1st part css portfolio */

   /* start 4th block of the 1st part css portfolio*/

.pt1-4 > h3{
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 20px;
}

.pt1-4 > p{
    font-family: 'Signika';
    font-style: normal;
    font-weight:lighter;
    font-size: 16px;
    line-height: 22px;
    width: 90%;
    text-align:justify;
    margin-left: 20px;

}

   /* styling sketches and wireframes*/

.sketches > h4{
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 20px;
}

.sketches > img{
   
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: left;
    align-items: flex-start;
}

.sketches > img:hover{
    transition: all 0.3s ease-out;
    background-color: rgb(177, 172, 172);
    opacity: 0.6;
    border: none;
    transition: 250ms;
    transform: translateY(-3px);
    cursor: pointer;
}

.sketches{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-start;
}

.pt1-block3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: baseline;
}

.high > h4{
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 140px;
    
}

.high {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 10px;
}

.highW{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: -10%;
}

.highW > img{
    padding: 10px;
}

.highW > img:hover{
    transition: all 0.3s ease-out;
    opacity: 0.6;
    border: none;
    transition: 250ms;
    transform: translateY(-3px);
    cursor: pointer;
} 

.highPages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 10px;
}

.highWp{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 40px;
}

.highWp > img{
    padding: 40px;
}

.highWp > img:hover{
    transition: all 0.3s ease-out;
    opacity: 0.6;
    border: none;
    transition: 250ms;
    transform: translateY(-3px);
    cursor: pointer;
} 
 /* End of 4th block of the first part css portfolio*/


   /* button view code css style at end*/

.btnP{  
    margin-top: 0px;
}

.btnP1 > Button{
    background:transparent;
}

   /* End of first part css for desktop view*/



/* start @media below for the first part of portfolio responsive screen*/

@media only screen and (max-width: 1536px){
    .pt1-block1{
        display:inline-block;
    }

    .pt1-block2 .colour{
        justify-content:flex-start;
        margin-left: -8%;
    
    }
}


@media only screen and (max-width: 1411px){

    .pt1-block2 .colour{
        justify-content:flex-start;
        margin-left: -5%;
    
    }

    .high {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
        align-items: flex-start;
        margin: 10px;
    }

}

@media only screen and (max-width: 1285px){

    .pt1-block2 .colour{
        justify-content:flex-start;
        margin: 5px;
    
    }

}


@media only screen and (max-width: 957px){

    .btnP .btn--secondary--solid{
        display: flex;
        padding: 10px;
        margin-left: 40%;
    }

    .btnP > a{
        text-decoration: none;
    }
  

}

@media only screen and (max-width: 821px){

    
.intro > p {
    
    width: 80%;
    
}

    .pt1-1 > p {
       
        width: 80vw;
       
    }

    .ic {
        margin-left: 50%;
        margin-top: -3%;
    }
}

@media only screen and (max-width: 725px){

  .ic{
      margin-left: 60%;
  }

  .intro > p {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    margin: 10px;
    width: 85vw;
    display: flex;
    justify-content: flex-start;
    line-height: 22px;
    text-align: justify;
}

  .pt1-1 > p {
      width: 85vw;
  }

  .pt1-block1 {
    display: flow-root;
}

.pt1-2 > p {
    font-family: 'Signika';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px;
    width: 85vw;
    text-align: justify;
    margin-left: 20px;
}

.pt1-block2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: flex-start;
}

.pt1-3 > p {
    font-family: 'Signika';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px;
    width: 85vw;
    text-align: justify;
    margin-left: 20px;
}

.pt1-4 > p {
    font-family: 'Signika';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px;
    width: 85vw;
    text-align: justify;
    margin-left: 20px;
}

.highW {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: -10%;
}

.highWp > img {
    padding: 40px;
    margin-left: -50px;
}

}

@media only screen and (max-width: 617px){
   
    .sketchesPt2 .b2Low{
        width: 550px;
        height: 212px;
    }
 }

@media only screen and (max-width: 591px){
    .title-p {
     
        margin-top: 5%;
        font-size: 40px;
      
    }

    .pt1-1 > h2 {
   
        font-size: 35px;
        margin-left: 20px;
    }

    .pt1-block1 {
      display: flow-root;
  }
  
  .pt1-3Title > img{
      width: 522px;
      height: 172px;
      margin-left: -30px;
  }

  .pt1-block2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -10px;
  }
    .sketchesPt2 .b2Low{
        width: 500px;
        height: 202px;
    }


    .highWp {
        margin-left: 10px;
        margin-top: 40px;
    }

    .highW {
        display: flex;
        flex-direction: row;
        padding: 0px;
        flex-wrap: wrap;
        margin-left: -10px;
        align-content: space-between;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: -10%;
    }

}

@media only screen and (max-width: 529px){

    .title-p {
     
        margin-top: 5%;
        font-size: 35px;
    
    }

    .pt1-1 > h2 {
        font-size: 30px;
        margin-left: 20px;
    }

    .highW .deskPt2{
        width: 495px;
        height: 345px;
    }

    .highWp .deskPt2{
        width: 495px;
        height: 345px;
    }

}  

  
@media only screen and (max-width: 503px){
    .pt1-3Title .sidemap {
        width: 430px;
        height: 172px;
        margin-left: 20px;
    }
    .sketches > img {
       width: 360px;
       height: 219px;
    }

    .highW .desk{
        width: 404px;
        height: 253px;
    }

    .sketchesPt2 .b2Low{
        width: 390px;
        height: 219px;
    }

    .highWp .deskPt2{
        width: 424px;
        height: 273px;
    }
  
}

@media only screen and (max-width: 433px){
    .title-p {
     
        font-size: 35px;
       
    }

    .pt1-1 > h2 {
        font-size: 30px;
    }

    .pt1-block1 .phase1 {
        width: 382px;
        height: 241px;
        margin-left: 10px;
   
    }

    .pt1-block1 .phase2 {
        width: 382px;
        height: 241px;
        margin-left: 10px;
   
    }

    .pt1-block1 .phase3 {
        width: 382px;
        height: 241px;
        margin-left: 10px;
   
    }

    .pt1-block1 .phase4 {
        width: 382px;
        height: 241px;
        margin-left: 10px;
   
    }

    .phase1, .phase2, .phase3, .phase4 > ul {
        font-family: 'Signika';
        font-style: normal;
        font-weight: 100;
        font-size: 14px;
        line-height: 22px;
    }

    .pt1-3Title .sidemap {
        width: 390px;
        height: 172px;
        margin-left: 20px;
    }

    .pt1-3Title > img{
        width: 390px;
        height: 172px;
        margin-left: 10px;
    }


    .highW .desk{
        width: 354px;
        height: 223px;
    }

    .highWp .deskPt2{
        width: 390px;
        height: 273px;
    }
  
}

@media only screen and (max-width: 411px){
    .highW .tab{
        width: 217px;
        height: 422px;
    }

    .highW .mob{
        width: 159px;
        height: 460px;
    }

    .sketchesPt2 .b2sket{
        width: 340px;   
        height: 160px;
    }

    .sketchesPt2 .b2Low{
        width: 340px;   
        height: 160px;
    }
}

@media only screen and (max-width: 375px){

    .pt1-block1 .phase1 {
        width: 342px;
        height: 241px;
        margin-left: 10px;
   
    }

    .pt1-block1 .phase2 {
        width: 342px;
        height: 241px;
        margin-left: 10px;
   
    }

    .pt1-block1 .phase3 {
        width: 342px;
        height: 241px;
        margin-left: 10px;
   
    }

    .pt1-block1 .phase4 {
        width: 342px;
        height: 241px;
        margin-left: 10px;
   
    }

    .pt1-3Title > img{
        width: 340px;
        height: 172px;
        margin-left: 10px;
    }

    .pt1-3Title .sidemap {
        width: 340px;
        height: 172px;
        margin-left: 20px;
    }

    .sketches > img {
        width: 340px;
        height: 180px;
     }

     .highW .desk{
        width: 334px;
        height: 213px;
    }

    .highWp .deskPt2 {
        width: 330px;
        height: 273px;
    }

    .highWp {
        margin-left: 20px;
        margin-top: 40px;
    }

 
}

/*..End of responsive screen size css for 1st part  portfolio page..*/

/*..Start the 2nd part of portfolio css styling below..*/


.pt2{
    width: 100vw;
    height: 100%;
    padding-bottom: 40px;
    padding-top: 60px;

    background: linear-gradient(182.44deg, 
    rgba(116, 116, 116, 0.38) 5.47%, 
    rgba(116, 116, 116, 0.46) 13.33%,
     #FFFFFF 24.54%, rgba(255, 255, 255, 0.85) 35.53%,
      #FFFFFF 54.37%, rgba(0, 0, 0, 0.54) 91.2%, 
      rgba(0, 0, 0, 0.74) 95.97%);

    border: 2px solid #CCCCCC;

}
