/*..Desktop screen over 960px....*/

.NavbarItems {
    position: fixed;
   font-family:signika;
   background: transparent;
   width: 100vw;
   height: 93px;
   left: 0px;
   top: 0px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 1.2rem;
    border: 1px solid rgba(229, 229, 229, 0.44);
    box-sizing: border-box;
}

 .Active{   /*active class for the links used below 960px */

    background: rgba(255, 255, 255, 0.123);
}

 .logn{
    width: 79px;
    height: 73px;
    padding-bottom: 10px;
 }

.navbar-logo{
    color: #000000;
    font-size: 20px;
    font-family:signika;
    font-weight: normal;
    justify-self:start;
    margin-top: 70px;
    margin-left: 20px;
    cursor: pointer;
}

/*.link .navbar-logo{
    text-decoration: none;

}*/

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align:end;
    width: 70vw;
    justify-content:center;
    margin-right: 4rem;
    margin-top: 5rem;
}

.nav-links{
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: sansation;
    font-weight:bold;
}

.nav-links:hover{
    color: #90928f;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.link{
    text-decoration: none;
    cursor: pointer;
    margin: 20px;

}

.fa-bars{
    color: rgb(7, 1, 1);
}

.menu-icon{
    display: none;
}

/*..small laptop screen 960px....*/
@media screen and (max-width: 960px){
    .NavbarItems {
        display: flex;
        justify-content:center;
        align-items: center;
        z-index: 1;
        width: 100vw;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 10px;
        left: -100%;
        opacity: 0.5;
        transition: all 0.5s ease;

    }

    .nav-menu.active{
        background-color:#000000;
        left: 0;
        opacity: 0.8;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        margin-left: -50px;
        display: table;
        font-family: sansation;
        color: #fff;
        font-weight:normal;

    }

    .nav-links:hover{
        background-color: #4f504e;
        border-radius: 0;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
        font-size: 24px;
        margin-left: 5%;
        margin-top: 30px;
    }

    .menu-icon{
        display:block;
        position: absolute;
        right: 10%;
        top: 20%;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;

    }

    .fa-times {
        color: #000000;
        font-size: 2rem;

    }

    button{
        display: none;
    }

}
/*..large tablet screen 806px....*/
@media only screen and (max-width: 806px){
    .NavbarItems{
        display: flex;
        width: 100vw;
    }

    .navbar-logo{
        font-size: 19px;
        margin-top: 50px;
        margin-left: 0px;
        text-align: start;
    }

    .menu-icon{
        margin-top: 10px;
        margin-right: 20px;
        text-align: start;
    }
}

/*..mediun tablet screen 628px....*/
@media only screen and (max-width: 670px){
    .menu-icon{
        margin-top: 10px;
        margin-right: 60px;
        text-align: start;
    }
}

@media only screen and (max-width: 628px){
    .menu-icon{
        margin-top: 10px;
        margin-right: 10px;
        text-align: start;
    }

    .navbar-logo{
        text-align: start;
        margin-left: -10px;
    }
}



/*..small tablet screen 566px....*/
@media only screen and (max-width: 566px){




    .link > img{
        justify-content: flex-end;
        margin: 0 0 0 -180px;
    }

    .navbar-logo{
        font-size: 19px;
        text-align: start;
        margin-left: -10px;
    }

    .menu-icon{
        margin-top: 10px;
        margin-right: 20px;
        text-align: start;
    }
}

@media only screen and (max-width: 527px){

    .link > img{
        justify-content: flex-start;
        margin: 0 0 0 -60px;
    }
    
    .menu-icon{
    margin-top: 10px;
    margin-right: 10px;
    text-align: start;
}
}
/*..largest mobile screen 454px....*/

@media only screen and (max-width: 454px){
 
    .link > img{
        width: 88px;
        height: 68px;
    }

    .navbar-logo{
        font-size: 20px;
        margin-top: 40px;
        text-align: start;

    }
}

/*.. large mobile screen 411px....*/

@media only screen and (max-width: 411px){


    img{
        width: 78px;
        height: 58px;
    }

    .navbar-logo{
        font-size: 16px;
        margin-top: 50px;
        text-align: start;
        margin-left: -10px;
    }
}

/*..small mobile screen 365px....*/
@media only screen and (max-width: 365px){
 


    .navbar-logo{
        font-size: 16px;
        margin-top: 50px;
        text-align: start;
        padding-left: 5px;

    }
}